.small-button--light, .small-button--dark {
    padding: 10px;
    gap: 10px;

    width: fit-content;
    height: fit-content;

    border-radius: 8px;
    border: 1px solid transparent;
}

.small-button--light {
    border: 1px solid var(--neutral-83);
    background-color: transparent;
    color: var(--neutral-background);
}

.small-button--dark {
    background-color: var(--neutral-background);
    color: var(--neutral-on-background);
}

.small-button--light span, .small-button--dark span {
    font-size: 24px;
    font-weight: bold;
}

.small-button--light span {
    color: var(--neutral-background);
}