.large-button--light, .large-button--dark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    gap: 20px;

    font-family: 'Outfit', Inter, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 12px;
}

.large-button--light {
    border: 1px solid var(--neutral-background);
    background-color: white;
    color: var(--neutral-background);
}

.large-button--dark {
    border: 1px solid var(--neutral-on-background);
    background-color: var(--neutral-background);
    color: var(--neutral-on-background);
}