.medium-bottom--dark {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    width: fit-content;
    height: fit-content;

    background: var(--neutral-background);
    border-radius: 8px;

    font-family: 'Outfit', Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    color: var(--neutral-on-background);
}

.medium-bottom--dark span {
    font-size: 24px;
}