.alert-error {
    background-color: hsl(338, 98%, 61%, 0.05);
    border-radius: 32px;
}

.alert-error > img {
    width: 32px;
    height: 32px;
}

.alert-error > p {

    font-size: 16px;

    color: #f33759;
}