:root {
    font-family: 'Outfit', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: black;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

:root {
    --gray-05: hsl(0, 0%, 5%);
    --gray-10: hsl(0, 0%, 10%);
    --gray-15: hsl(0, 0%, 15%);
    --gray-20: hsl(0, 0%, 20%);
    --gray-25: hsl(0, 0%, 25%);
    --gray-30: hsl(0, 0%, 30%);
    --gray-35: hsl(0, 0%, 35%);
    --gray-40: hsl(0, 0%, 40%);
    --gray-45: hsl(0, 0%, 45%);
    --gray-50: hsl(0, 0%, 50%);
    --gray-55: hsl(0, 0%, 55%);
    --gray-60: hsl(0, 0%, 60%);
    --gray-65: hsl(0, 0%, 65%);
    --gray-70: hsl(0, 0%, 70%);
    --gray-75: hsl(0, 0%, 75%);
    --gray-80: hsl(0, 0%, 80%);
    --gray-83: hsl(0, 0%, 83%);
    --gray-85: hsl(0, 0%, 85%);
    --gray-90: hsl(0, 0%, 90%);
    --gray-95: hsl(0, 0%, 95%);
    --gray-96: hsl(0, 0%, 96%);
    --gray-97: hsl(0, 0%, 97%);
    --gray-98: hsl(0, 0%, 98%);
    --gray-99: hsl(0, 0%, 99%);

    --primary-container: #C9EBF2;
    --primary-on-container: #6CCED9;

    --secondary-container: #F1F1FE;
    --secondary-on-container: #0E0C7D;

    --neutral-background: #1A1C18;
    --neutral-on-background: #E0E4D7;
}

* {
    margin: 0;
    padding: 0;
}

input, a, button, li, button {
    all: unset;
}

a:hover{
    cursor: pointer;
}