#platform {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    background-color: white;
    height: 100%;
}

#platform > #content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 40px;
    width: 100%;
}
