#navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 40px;

    background: var(--neutral-98);

    box-shadow: 8px 8px 32px var(--neutral-83);
    border-radius: 0 32px 32px 0;
}

#navbar ul {
    flex-grow: 1;
}

#navbar ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    width: 156px;
    height: 44px;

    border-radius: 24px;
}

#navbar ul li.active {
    background: var(--primary-container);
}